<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">    
    <link rel="stylesheet" type="text/css" href="/css/list.css">
    <title>Cadastro de Compras</title>
</head>
<body>
    <%- include("../snippets/header.ejs", {logged:false}); %>
    <%- include("../snippets/nav.ejs"); %>
    <main>
        <div id="list">
            <h1>Lista de Compras</h1><br>
            <table border="1" bordercolor="#000000" cellpading="0" cellspacing="0">
                <tr>
                    <th>Ação</th>
                    <th>CPF do Comprador</th>
                    <th>ID do Jogo</th>
                </tr>

                <% purchases.forEach((purchase) => { %>
                    <tr>
                        <td>
                            <a href="./delete/?cpf_user=<%= purchase.cpf_user %>&id_game=<%= purchase.id_game %>">Excluir</a>
                        </td>
                        <td><%= purchase.cpf_user %></td>
                        <td><%= purchase.id_game %></td>
                    </tr>
                <% }) %>
            </table><br>
            <p><a href="./form/">Inserir Compras</a></p>
        </div>
    </main>
    <%- include("../snippets/footer.ejs"); %>
</body>
</html>