<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">    
    <link rel="stylesheet" type="text/css" href="/css/buypage.css">    
    <title>Comprar Jogo</title>
    <script>
        user = "<%= userLogged %>";
        message = "<%= message %>";

        if (user == "") {
            window.location.replace("/login/");
        }

        if (message != "") {
            alert(message);
        }
    </script>
</head>
<body>
    <%- include("../../snippets/header.ejs", {user:userLogged}); %>
    <%- include("../../snippets/nav.ejs", {user:userLogged}); %>
    <main>
        <div id="container">
            <h1><%= game[0].title %></h1>
            <figure>
                <div>
                <img src="/img/<%= game[0].image %>"></img>
                <figcaption>
                    <p><b>Descrição:</b></p>
                    <p><%= game[0].description %></p><br>
                    <p><b>Data de Publicação:</b></p>
                    <p><%= game[0].publication %></p><br>
                    <p><b>Desenvolvedor:</b></p>
                    <p><%= developer[0].name %></p><br>
                    <p><b>Preço:</b></p>
                    <p>R$ <%= game[0].price %></p><br>
                    <p><b>Gêneros:</b></p>
                    <% let genresNames = [] %>
                    <% genres.forEach(genre => { %>
                        <% if (game_genres.some(e => e.id_genre === genre.id)) { %>
                            <% genresNames.push(genre.name) %>
                        <% } %>
                    <% }) %>
                    <p><%= genresNames %></p><br>
                </figcaption>
            </figure><br>
            <a href="./buy/?id_game=<%= game[0].id %>"><p id="buy">COMPRAR</p></a>
        </div>
    </main>
    <%- include("../../snippets/footer.ejs"); %>
</body>
</html>