<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/list.css">
    <title>Cadastro de Jogos</title>
</head>
<body>
    <%- include("../snippets/header.ejs", {user:true}); %>
    <%- include("../snippets/nav.ejs"); %>
    <main>
        <h1>Lista de Jogos</h1>
        <a href="./form/?id=-1">Inserir Jogo</a><br>
        <a href="../">Voltar para Home</a>
        <table border="1" bordercolor="#000000" cellpading="0" cellspacing="0">
            <tr>
                <th>Ação</th>
                <th>Id</th>
                <th>Título</th>
                <th>Gênero</th>
                <th>Desenvolvedor</th>
                <th>Data de Publicação</th>
                <th>Preço</th>
            </tr>

            <% games.forEach((game) => { %>
                <tr>
                    <td>
                        <a href="./form/?id=<%= game.id %>">Atualizar</a>
                        <a href="./delete/?id=<%= game.id %>">Excluir</a>
                    </td>
                    <td><%= game.id %></td>
                    <td><%= game.titulo %></td>
                    <td><%= game.genero %></td>
                    <td><%= game.desenvolvedor %></td>
                    <td><%= game.data_publicacao %></td>
                    <td><%= game.preco %></td>
                </tr>
            <% }) %>
        </table>
    </main>
    <%- include("../snippets/footer.ejs"); %>
</body>
</html>