<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <link rel="stylesheet" type="text/css" href="/css/form.css">
        <title>Registre sua Conta</title>
    </head>
    <body>
        <div id="container">
            <%- include("../../snippets/header.ejs", {user:userLogged}); %>
            <%- include("../../snippets/nav.ejs", {user:userLogged}); %>
            <main>
                <form action="./" method="post">
                    <%- include("../../snippets/formTitle.ejs", {type:"Usuário",title:(user.length > 0 ? user[0].name:undefined)}); %>
                    <% if (user.length <= 0) { %>
                        <label for="cpf">CPF</label>
                        <input type="text" name="cpf" id="cpf" value=""><br>
                    <% } else { %>
                        <input type="hidden" name="cpf" id="cpf" value="<%= (user.length > 0 ? user[0].cpf:'') %>"><br>
                    <% } %>
        
                    <label for="password">Senha</label>
                    <input type="password" name="password" id="password" value="<%= (user.length > 0 ? user[0].password:'') %>"><br>
        
                    <label for="name">Nome</label>
                    <input type="text" name="name" id="name" value="<%= (user.length > 0 ? user[0].name:'') %>"><br>
        
                    <label for="birthdate">Data de Nascimento</label>
                    <input type="date" name="birthdate" id="birthdate" value="<%= (user.length > 0 ? user[0].birthdate:'') %>"><br>
        
                    <label for="nationality">Nacionalidade</label>
                    <input type="text" name="nationality" id="nationality" value="<%= (user.length > 0 ? user[0].nationality:'') %>"><br>
        
                    <label for="email">E-mail</label>
                    <input type="text" name="email" id="email" value="<%= (user.length > 0 ? user[0].email:'') %>"><br>
        
                    <label for="phone">Telefone</label>
                    <input type="text" name="phone" id="phone" value="<%= (user.length > 0 ? user[0].phone:'') %>"><br>
        
                    <input type="hidden" name="wallet" id="wallet" value="<%= (user.length > 0 ? user[0].wallet:'') %>"><br>
        
                    <% if (user.length <= 0) { %>
                        <input type="submit" name="action" value="Registrar">
                    <% } else { %>
                        <input type="submit" name="action" value="Atualizar">
                    <% } %>
                    <input type="submit" name="action" value="Cancelar">
                </form>
            </main>
            <%- include("../../snippets/footer.ejs"); %>
        </div>
    </body>
</html>